/* * { */
  /* box-sizing: border-box; */
/* } */
body.inheritCursors * {
  cursor: inherit !important;
}

#connecting-ip {
  margin: 10px 10px 0 10px;
  font-size: 20px;
}

#fold-user-button {
  position: fixed;
  bottom: 0;
  left: 80px;
  width: 40px;
  height: 20px;
  font-size: 20px;
  font-style: bold;
}
#user-list {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 170px;
  visibility: hidden;
  background-color: #333;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 30px;
}
.user {
  width: 180px;
  height: 20px;
  overflow: hidden;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  font-size: 15px;
  border: 1px solid;
}
.user.self {
  background-color: #666;
}

#rename-frame {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 195px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}
#rename-input {
  width: 130px;
  height: 23px;
  padding: 0 5px;
  overflow: hidden;
  resize: none;
  white-space: nowrap;
}
#rename-button {
  width: 50px;
  height: 25px;
  padding: 0;
}

#copy-url-button {
  width: 100px;
  height: 25px;
  border: none;
  position: absolute;
  visibility: hidden;
  background: #111
}
#copy-url-button:hover {
  background: #999
}

/* .container { */
  /* width: 1200px; */
  /* margin-top: 8px; */
  /* display: flex; */
/* } */

#left-box {
  float: left;
  width: 640px;
}
#ytplayer {
  width: 640px;
  height: 360px;
}


#search-field {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  visibility: visible;
}
#url-input {
  overflow: hidden;
  resize: none;
  white-space: nowrap;
  margin-left: 10px;
  width: 400px;
}
.search-button {
  margin-left: 10px;
}

#search-result {
  margin-top: 10px;
  visibility: hidden;
}
#search-result-img {
  margin: 0;
  width: 99%;
  height: 99%;
  object-fit: contain;
  display: block;
}
#add-video-button {
  width: 480px;
  height: 270px;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


#playlist-control {
  width: 400px;
  display: flex;
  justify-content: center;
}
#where-button {
  margin-right: 10px;
}
#clear-button {
  margin-right: 50px;
}
.play-mode-toggle {
  margin-right: 10px;
}
.play-mode-toggle.active {
  border: 2px solid yellow;
}

#playlist {
  margin-top: 10px;
  margin-left: 10px;
  width: 400px;
  height: 800px;
  overflow-x: visible;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.playlist-item {
  margin-top: 10px;
  width: 365px;
  height: 120px;
  display: flex;
  align-items: center;
}
.playlist-item-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px 12px 10px;
  overflow: hidden;
}
.playlist-item-info-text {
  overflow: hidden;
  text-align: left;
  /* text-wrap: nowrap; */
  margin: 0;
  text-overflow: ellipsis;
}
.playlist-item-button {
  min-width: 300px;
  height: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.playing-overlay {
  min-width: 300px;
  height: 100%;
  left: -300px;
  position: relative;
  background-color: rgba(0,0,0,0.5);
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  pointer-events: none;
}
.playlist-remove {
  left: -290px;
  position: relative;
  width: 25px;
  height: 25px;
}
.playlist-drag {
  margin-right: 10px;
  position: relative;
  width: 20px;
  height: 25px;
  cursor: grab;
  padding: 0;
  display: grid;
  text-align: center;
  font-size: 15px;
}